.row {
  padding: 0.625rem 0rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 4%;
}

.hash {
  width: 21%;
}

.blockAge {
  width: 9.5%;
}

.fromToValue {
  width: 16.5%;
}
